@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}

@*<nav role='navigation'>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Ingresar</a></li>
        <li>      
            @Html.ActionLink("Registrarse", "Create", "Usuario")
        </li>
        <li><a href="#">Reservar</a></li>
        <li><a href="#">Lista Reservas</a></li>
    </ul>
</nav>*@  